s05/T02_ListFunctions/Video/VideoExplicativo.tscproj
s05/T02_ListFunctions/Video/Premier/VideoExplicativoMejorado.prproj
s05/T02_ListFunctions/Video/Premier/Adobe Premiere Pro Captured Audio/VideoExplicativoMejorado/Audio 1.wav
s05/T02_ListFunctions/Video/VideoExplicativo/VideoExplicativo.mp4
